.title{
    align-self: flex-start;
    margin-left: 5rem;
}
.contact-frame{
    width: 100%;
    height: 80%;
    // border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    .left{
        width: 30%;
        height: 100%;
        // border: 1px solid pink;
        position: relative;
    }
    form{
        // border: 1px solid pink;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input{
            border:none;
            border-bottom: 2px solid var(--text-gray);
            background-color: transparent;
        }
        .submit-btn{
            border:none;
            background-color: var(--text-pink);
            padding: 20px;
        }
        .error{
            color: red;
        }
    }
}